version: "3.9"

services:
  frontend:
    build: .
    container_name: frontend
    networks:
      - frontend-network
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - frontend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend-network
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    networks:
      - frontend-network
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 12h & wait $${!}; done;'"
    restart: always

networks:
  frontend-network:
    driver: bridge
